[includeIf "gitdir/i:~/01-Code/raducostinas/"]
  path = ~/01-Code/raducostinas/.gitconfig

[includeIf "gitdir/i:~/.dotfiles/"]
  path = ~/01-Code/raducostinas/.gitconfig

[includeIf "gitdir/i:~/01-Code/10labs/"]
  path = ~/01-Code/10labs/.gitconfig

[fetch]
	prune = true

[push]
	default = simple
	autoSetupRemote = true

[color]
	diff = auto
	status = auto
	branch = auto
	ui = true

[core]
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes
	editor = nvim
	autocrlf = input
	trustctime = false
	precomposeunicode = false
	pager = delta --dark
	ignorecase = false

[interactive]
  diffFilter = delta --color-only

[merge]
  conflictstyle = diff3

[delta]
    navigate = true
    features = line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none

[help]
	autocorrect = 1

[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true

[diff]
	tool = vimdiff
	compactionHeuristic = true
	indentHeuristic = true
  colorMoved = default

[difftool]
	prompt = false

[diff "json"]
	textconv = python -m json.tool

[diff "word"]
	textconv = docx2txt

[credential]
	helper = osxkeychain

[color "diff"]
	meta = yellow bold
	commit = green bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = "red bold 52"
	newNormal = "green bold"
	newHighlight = "green bold 22"

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[apply]
	# Detect whitespace errors when applying a patch
	whitespace = fix
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[http]
	sslVerify = false

[alias]
  clone-for-worktrees = "!sh $DOTFILES_PATH/scripts/git/clone_for_worktrees"
[init]
	defaultBranch = main
#[url "git@bitbucket.org.10labs_team"]
#	inteadOf = https://bitbucket.org/10labs_team
