# Common
# ----------------------------------
# Compiled zsh
shell/zsh/**/**.zwc
shell/zsh/**/**.zwc.old
shell/zsh/.zim

# Modules
modules

#vim-plug
editors/vim/autoload

# nvim
editors/vim/plugged

.DS_Store
.netrwhist
