# Common
# ----------------------------------
# Compiled zsh
shell/zsh/**/**.zwc
shell/zsh/**/**.zwc.old
shell/zsh/.zim

#vim-plug
editors/vim/autoload

# nvim
editors/vim/plugged
editors/nvim/plugin/packer_compiled.lua
editors/nvim/pack

.DS_Store
.netrwhist
