[credential]
  username = raducostinas
[user]
  name = Radu Costinas
  email = r.costinas@gmx.es
	signingkey = AE81BB8AAE1C25A7
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg]
	program = /usr/local/MacGPG2/bin/gpg

