[credential]
  username = raducostinas
[user]
  name = Radu Costinas
  email = radu@10labs.es
  signingkey = B83EB9F3D3E9E606
[commit]
	gpgsign = true
[tag]
  gpgsign = true
[gpg]
  program = /usr/local/MacGPG2/bin/gpg

